<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="d:\WEBPAGE_TRANSLATION\.venv\Scripts\python.exe|d:\WEBPAGE_TRANSLATION\.venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
