
@media only screen and (max-width: 767px) {
    .text-container-main {
        top: 24%;  
        padding: 10px;  
        font-size: 14px;  
    }
    .audio {
        width: 90%; 
        margin-bottom: 45rem; 
    }
    #transcribeBtn {
        bottom: -5rem;
        left: 15%;
        padding: 8px 30px;
        font-size: 14px
    }

    #anotheraudio {
        bottom: 26%;
        left: 66%;
        padding: 8px 5px;
        margin: -3px;
        font-size: 14px;
    }
    #downloadBtn {
        bottom: 110px;
        left: 27%;
        padding: 8px 30px;
        font-size: 14px;
    }

    #tryanother {
        bottom: 110px;
        left: 69%;
        padding: 9px 5px;
        font-size: 14px;
    }
    #Sentiment {
        bottom: 1%;
        left: 47%;
        padding: 8px 30px;
        font-size: 14px;
        margin-bottom: 10px; 
    }
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .text-container-main {
        top: 15%;  
        padding: 15px;  
        font-size: 16px;  
    }
    .audio {
        width: 70%; 
        margin-bottom: 45rem; 
    }
    #downloadBtn {
        bottom: 16%;
        left: 20%;
        padding: 9px 35px;
        font-size: 15px;
    }
    #transcribeBtn {
        bottom: -7.9rem;
        left: 25%;
        padding: 8px 30px;
        font-size: 14px;
    }
    #anotheraudio {
        bottom: 22%;
        left: 60%;
        padding: 8px 5px;
        font-size: 14px;
    }
    #tryanother {
        bottom: 16%;
        left: 50%;
        padding: 9px 35px;
        font-size: 15px;
    }
    #Sentiment {
        bottom: 15%;
        left: 80%;
        padding: 9px 35px;
        font-size: 15px;
        margin-bottom: 12px;
    }
}

@media only screen and (min-width: 1024px) {
    .text-container-main {
        top: 15%;  
        padding: 15px;  
        font-size: 16px;  
    }
    .audio {
        width: 70%;
        margin-bottom: 55rem;
    }
    #downloadBtn {
        bottom: 16%;
        left: 20%;
        padding: 9px 35px;
        font-size: 15px;
    }
    #transcribeBtn {
        bottom: -5rem;
        left: 35%;
        padding: 15px 30px;
        font-size: 14px;
    }
    #anotheraudio {
        bottom: 27%;
        left: 60%;
        padding: 15px 5px;
        font-size: 16px;
    }
    #tryanother {
        bottom: 16%;
        left: 50%;
        padding: 9px 35px;
        font-size: 15px;
    }
    #Sentiment {
        bottom: 15%;
        left: 80%;
        padding: 9px 35px;
        font-size: 15px;
        margin-bottom: 12px;
    }
}









 

 