<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Header</title>

   <!-- bootstrap css -->
   <link rel="stylesheet" href="/static/css/bootstrap.min.css">
   <!-- style css -->
   <link rel="stylesheet" href="/static/css/styleheadfoot.css">
   <link rel="stylesheet" href="/static/css/style.css">
   <link rel="stylesheet" href="/static/css/responsivemain.css">
   <!-- Responsive-->
   <link rel="stylesheet" href="/static/css/responsive.css">
  
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>




<body>

   <header>
      <!-- header inner -->
      <div class="header">
         <div class="container-fluid">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo">
                           <a href="index.html"><img src="/static/images/ArviusLogo.jpg" alt="#" /></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                  <div class="header_information">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">

                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                           data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false"
                           aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                        </button>
                        
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item active" action="Home">
                                 <a class="nav-link" href="https://www.arviussoft.com/index.html">Home</a>
                              </li>
                              <li class="nav-item" action="About">
                                 <a class="nav-link" href="https://www.arviussoft.com/about.html"> About Us </a>
                              </li>
                              <li class="nav-item" action="OurClient">
                                 <a class="nav-link" href="https://www.arviussoft.com/Our_team.html">Our Team</a>
                              </li>
                              <li class="nav-item" action="Career">
                                 <a class="nav-link" href="https://www.arviussoft.com/Career.html"> Career </a>
                              </li>
                              <li class="nav-item" action="contact Us">
                                 <a class="nav-link" href="https://www.arviussoft.com/contact.html">Contact Us</a>
                              </li>
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </header>

   <div class="container-main">

      <div class="text-container-main" >
         <h1 style="color: #041b83; font-weight: bold;">Translate Audios into English Text </h1>
      </div>

      <div class="box" id="transcriptionBox">

         <form id="languageForm">

            <div id="fileUploadSection">
               <h2 style="font-size: 20px; color: black;">Upload or Drag your audio</h2>
               <label for="audioFileInput" class="file-label" id="audioFileInputLabel">
               <input type="file" id="audioFileInput" class="file-input" accept="audio/*"
                     onchange="handleFileSelect(event)">  
                  Upload an audio file
               </label>
            </div>
            
         </form>

         <div id="fileInfoSection" style="display:none;">
            <table>
               <tr>
                  <td> Audio File:</td>
                  <td id="audioFileName"></td>
               </tr>
               <tr>
                  <td>Size :</td>
                  <td id="audioFileSize"></td>
               </tr>
            </table>
         </div>
        
         <div id="transcriptionOutput" class="transcription-output"></div>

      </div>
      <button onclick="transcribe()" class="transcribe-btn" id="transcribeBtn" style="display:none;">Transcribe</button>
      <button onclick="downloadTranscription()" class="download-btn" id="downloadBtn" style="display:none"> Download</button>
      <button id="anotheraudio" onclick="reloadPage()"  style="display:none">Select Another Audio</button>
     <!--<button id="cancel" onclick="reloadPage()"  style="display:none">Cancel</button>--> 
      <button id="tryanother" onclick="reloadPage()"  style="display:none">Try Another Audio</button>
      <div class="container1">
         <div class="circular-progress"style="display: none;"></div>
         <span class="progress-value"></span>
      </div>
   </div>

   <footer>
      <div class="footer">
         <div class="container">
            <div class="row border-top">
               <div class="col-md-6 padding_bottom1">
                  <h3>Follow Us On</h3>
                  <form class="footer_form">
                  </form>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-8 offset-md-1">
                        <h3>Contact Us</h3>
                        <ul class="cont">
                           <li>Tower 4, Unit 820, Assotech Business Cresstera, Sector 135, Noida, Uttar Pradesh,
                              201305 </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="copyright">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <p>© 2023 All Rights Reserved. <a href="http://arviussoft.com/"> Arvius software Pvt. Ltd.</a>
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>

   <script src="{{ url_for('static', filename='js/transcribe_script.js') }}"></script>
   <!-- <script src="js/jquery.min.js"></script>
   <script src="js/popper.min.js"></script>
   <script src="js/bootstrap.bundle.min.js"></script>
   <script src="js/jquery-3.0.0.min.js"></script> -->
</body>

</html>
